section.articles {
    margin: -5% 5% 5%;
    z-index: 2;
    position: relative;

    @include x_smallScreen() {
        margin: -20% 5% 20%;
    }

    .article {
        display: grid;
        width: 35rem;
        padding: 1.5rem 1.5rem 0;
        background-image: linear-gradient(131.83deg, #FFFAFA 0%, #FFF7F7 99.21%);
        border-radius: 16px;

        @include x_smallScreen() {
            width: 95%;
            padding: .5rem .5rem 0;
        }

        &__inner {
            padding: 1rem;
            box-shadow: 0 40px 80px #fbe4e0;
            background-color: #fff;
            display: grid;
            grid-template-rows: 1fr 1.5fr;

            &__img {
                width: 100%;
                height: auto;
                background-position: center;
            }

            &__header {
                display: grid;
                grid-template-rows: 1.2fr .6fr 1.2fr 1.5fr 1.2fr 1.3fr 1fr 1fr;
                align-items: center;
                text-align: justify;
                justify-self: center;
                margin: 2rem 0;

                &.single {
                    width: 80%;
                }

                h5 {
                    margin-top: .2rem;
                }
            }

            &__body {

                .section {
                    display: grid;
                    place-items: center;

                    &__title {
                        font-size: 1.2rem;
                    }

                    &__img {
                        max-height: 59rem;
                        max-width: 49rem;
                    }

                    h4 {
                        margin: 2rem;
                        line-height: 2.2rem;
                        background-color: #deeeff;
                        font-size: 1.3rem;
                        width: 90%;
                    }

                    &__text {
                        text-align: justify;
                        margin: 3rem;
                        width: 70%;
                        line-height: 1.5rem;

                    }
                }
            }
        }

        &.single {
            width: 80%;

            .article__inner {
                padding: 2rem;
            }
        }
    }
}