* {
    font-family: sans-serif;
    color: $text;
    font-size: 1rem;
    margin: 0;
}

body {
    height: 100%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: table;
    max-width: 100%;
    width: 100%;

}


body.small {
    height: 100vh;
}

main {
    margin-top: 78px;

    &.small {
        height: 85vh;
    }
}

section {
    display: grid;
    margin: 2% 10%;
    place-items: center;

}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

h1 {
    color: floralwhite;
    text-align: start;

    &.errorPage {
        color: #479f73;
        ;
        padding: 1rem;
        font-size: 1.8rem;
    }
}

h2 {
    &.title {
        font-size: 2rem;
        line-height: 7rem;
        font-weight: 400;
        background-color: #1e1e1e;
        color: white;
        position: relative;
        z-index: 1;
        padding: 4rem 0 9rem;
    }
}

h3 {
    color: $text;
    font-weight: 300;
}

h4 {
    color: $text;
}

.text-center {
    text-align: center;
}

.error {
    padding: 5px 0;
    color: #af3030;
}

.success_message {
    line-height: 3rem;
    background-color: #59c178;
    text-align: center;
    color: white;
    width: 100%;
    border-radius: 10px;
    border: 2px solid $success;
}