$error : rgb(177, 2, 2);

$success : rgb(85, 148, 104);

$white_op : #ffffffee;

$nav_foot: #4680a1bb;

$grey : #4a4b4e8a;

$text : #494a4b;

$shiner :#ffee00af;

$dark_white : #efefef;

$wine : #C33C54;

$btn : #d485ca;

$hover_link : #0c475a;

$lightDuckBlue : #479f73;